PROJECT_NAME="OpenDota ML Pipeline"
API_V1_STR="/api/v1"
OPENDOTA_API_BASE_URL="https://api.opendota.com/api"
# OpenDota API limits to 60 req/min without a key. Add here to bypass.
# OPENDOTA_API_KEY="your_api_key_here"
MLFLOW_TRACKING_URI="http://localhost:5000"